{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/course.css' %}">


<section class="add-course-page">

    <div class="add-course-card">

        <h1>Create New Course</h1>

        <p>
            Add a new course to organize your notes and files.
        </p>


        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}


            <button type="submit" class="create-btn">
                Create Course
            </button>

        </form>


    </div>

</section>


{% endblock %}