{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/notes.css' %}">


<section class="add-note-page">

    <div class="add-note-header">

        <h1>Add New Note</h1>

        <p>Create a new note for your course.</p>

    </div>


    <form method="POST" class="add-note-form">
    {% csrf_token %}

        <div class="input-group">

            <label>Title</label>

            {{ form.title }}

        </div>


        <div class="input-group">

            <label>Content</label>

            {{ form.content }}

        </div>


        <button type="submit" class="save-note-btn">

            Save Note

        </button>


    </form>


</section>


{% endblock %}