{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/course.css' %}">


<section class="course-details-page">

    <!-- Course Top Section -->
    <div class="course-details-header">

        <div class="course-heading">

            <div class="course-name-row">

                <span class="course-color-dot"></span>

                <h1>{{ course.name }}</h1>

            </div>

            <p>{{ course.description }}</p>

        </div>

        <div class="course-actions">

            <a href="{% url 'course_update' course.id %}" class="course-edit-button">
                Edit Course
            </a>

            <a href="{% url 'course_delete' course.id %}" class="course-delete-button">
                Delete
            </a>

        </div>

    </div>

    <!-- Notes and Files Statistics -->
    <div class="course-summary-cards">

        <div class="course-summary-card notes-summary">

            <div class="summary-text">

                <strong>{{ notes_count }}</strong>

                <span>Notes</span>

            </div>

            <div class="summary-image-box">

                <img src="{% static 'images/icons/notepad-text.svg' %}" alt="Notes">

            </div>

        </div>

        <div class="course-summary-card files-summary">

            <div class="summary-text">

                <strong>{{ files_count }}</strong>

                <span>Files</span>

            </div>

            <div class="summary-image-box">

                <img src="{% static 'images/icons/folder-heart.svg' %}" alt="Files">

            </div>

        </div>

    </div>

    <!-- Cours Tabs -->
    <nav class="course-details-tabs">

        <a href="course-details.html" class="course-tab active">
            Overview
        </a>

        <a href="{% url 'course_notes' course.id %}" class="course-tab">
            Notes
        </a>

        <a href="{% url 'course_files' course.id %}" class="course-tab">
            Files
        </a>

    </nav>

    <!-- Recent Content -->

    <div class="course-recent-grid">


        <!-- Recent Notes -->

        <section class="course-content-card notes-content-card">


            <div class="course-content-heading">

                <h2>Recent Notes</h2>

                <span class="content-label notes-label">
                    Notes
                </span>

            </div>


    {% for note in notes %}

    <a href="{% url 'note_detail' note.id %}" class="course-content-item">

        <div class="content-item-left">

            <img src="{% static 'images/icons/pencil-sparkles (1).svg' %}">

        <div>

            <h3>{{ note.title }}</h3>

            <span>{{ course.name }}</span>

        </div>

    </div>

    <span class="item-arrow"></span>
    </a>
    {% empty %}
        <p>No notes yet.</p>
    {% endfor %}
            
              

</section>  <!-- پایان notes-content-card -->


        <!-- Recent Files -->
        <section class="course-content-card files-content-card">

            <div class="course-content-heading">

                <h2>Recent Files</h2>

                <span class="content-label files-label">
                    Files
                </span>

            </div>

            {% for file in recent_files %}

            <a href="{{ file.file.url }}" target="_blank" class="course-content-item">

                <div class="content-item-left">

                    <img src="{% static 'images/icons/file-text.svg' %}">

                    <div>

                        <h3>{{ file.title }}</h3>

                        <span>{{ file.course.name }}</span>

                    </div>

                </div>

                <span class="item-arrow"></span>

            </a>

            {% empty %}

            <p>No files yet.</p>

            {% endfor %}

        </section>

    </div>

</section>

{% endblock %}