{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ================= Welcome Card ================= -->

<section class="welcome-card">

    <div class="welcome-text">

        <h1>Welcome Back, {{ request.user.username }}! 👋</h1>
        <p>
            Keep learning,<br>
            one note at a time.
        </p>

    </div>

    <div class="welcome-image">
        <img src="{% static 'images/other-pics/Working remotely-pana.svg' %}"
             alt="Study Illustration">
    </div>

</section>

<!-- ================= Recent Section ================= -->

<section class="recent-section">

    <div class="recent-card">

        <h2>Recent Notes</h2>

        {% for note in recent_notes %}

        <div class="recent-item">

            <a href="{% url 'note_detail' note.id %}">
                📝 {{ note.title }}
            </a>

        </div>

        {% empty %}

        <div class="recent-item">
            No notes yet.
        </div>

        {% endfor %}

    </div>

    <div class="recent-card">
        <h2>Recent Files</h2>

        {% for file in recent_files %}

        <div class="recent-item">

            <a href="{{ file.file.url }}" target="_blank">
                📄 {{ file.title }}
            </a>

        </div>

        {% empty %}

        <div class="recent-item">
            No files yet.
        </div>

        {% endfor %}
    </div>

</section>

{% endblock %}