{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/course.css' %}">


<!-- ================= Edit Course ================= -->

<section class="add-course-page">

    <div class="add-course-card">

        <h1>Edit Course</h1>

        <p>Update your course information.</p>


        <!-- Course Name -->

        <div class="input-group">

            <label>Course Name</label>

            <input
                type="text"
                value="Programming"
            >

        </div>


        <!-- Description -->

        <div class="input-group">

            <label>Description</label>

            <textarea rows="4">Introduction to C++ programming, algorithms, loops and functions.</textarea>

        </div>


        <!-- Course Color -->

        <div class="input-group">

            <label>Choose Color</label>

            <div class="color-options">

                <div class="color-circle green active-color"></div>

                <div class="color-circle pink"></div>

                <div class="color-circle orange"></div>

                <div class="color-circle purple"></div>

            </div>

        </div>


        <!-- Button -->

        <button class="create-btn">

            Update Course

        </button>

    </div>

</section>


{% endblock %}