{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/course.css' %}">


<!-- ================= Edit Course ================= -->

<section class="add-course-page">

    <div class="add-course-card">

        <h1>Edit Course</h1>

        <p>Update your course information.</p>


        <!-- Course Name -->

        <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="create-btn">
            Update Course
        </button>
        </form>



</section>


{% endblock %}