{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<form method="POST"
      enctype="multipart/form-data">

    {% csrf_token %}

<section class="profile-page">

    <div class="profile-card">

            <!-- Avatar -->
            <div class="profile-avatar">

        {% if user.profile.image %}

            <img src="{{ user.profile.image.url }}" alt="Profile">

        {% elif user.profile.gender == "female" %}

            <div class="emoji-avatar">👩🏻‍🎓</div>

        {% elif user.profile.gender == "male" %}

            <div class="emoji-avatar">👨🏻‍🎓</div>

        {% else %}

            <div class="emoji-avatar">🧑🏻‍🎓</div>

        {% endif %}

    </div>

        <!-- Upload -->
        {{ form.image }}

        <!-- Gender -->
        <div class="input-group">

            <label>Gender</label>

            {{ form.gender }}

        </div>

        <!-- Full Name -->
        <div class="input-group">
            <label>Full Name</label>
            <input
                type="text"
                name="first_name"
                value="{{ user.first_name }}"
            >

            <input
                type="text"
                name="last_name"
                value="{{ user.last_name }}"
            >
        </div>

        <!-- Email -->
        <div class="input-group">
            <label>Email</label>
            <input
                type="email"
                name="email"
                value="{{ user.email }}"
            >
        </div>

        <!-- University -->
        <div class="input-group">
            <label>University</label>
            {{ form.university }}
        </div>

        <!-- Major -->
        <div class="input-group">
            <label>Major</label>
            {{ form.major }}
        </div>

        <!-- Bio -->
        <div class="input-group">
            <label>Bio</label>

            {{ form.bio }}

        </div>

        <!-- Save -->
        <button type="submit" class="edit-profile-btn">
            Save Changes
        </button>
    </div>

</section>

</form>
{% endblock %}