{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/notes.css' %}">


<section class="add-note-page">

    <div class="add-note-header">

        <h1>Edit Note</h1>

        <p>Update your note information.</p>

    </div>


    <form class="add-note-form">


        <div class="input-group">

            <label>Title</label>

            <input
                type="text"
                value="Loops in C++"
            >

        </div>


        <div class="input-group">

            <label>Course</label>

            <select>

                <option selected>Programming</option>
                <option>Physics</option>
                <option>Calculus</option>
                <option>English</option>

            </select>

        </div>


        <div class="input-group">

            <label>Content</label>

            <textarea rows="12">A for loop is used when the number of iterations is known.

Syntax:

for(int i = 0; i < 10; i++){

    cout << i;

}

A while loop continues until the condition becomes false.

while(x > 0){

    x--;

}</textarea>

        </div>


        <button type="submit" class="save-note-btn">

            Update Note

        </button>


    </form>


</section>


{% endblock %}