{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/files.css' %}">


<section class="files-page">

    <div class="files-header">

        <div class="files-title">

            <h1>{{ course.name }} Files</h1>

            <p>Manage all your files in one place.</p>

        </div>


        <a href="{% url 'file_create' course.id %}" class="upload-file-btn">

            <img src="{% static 'images/icons/folder-up.svg' %}" class="icon">

            <span>Upload File</span>

        </a>

    </div>


    <form method="GET" class="files-search">

        <img src="{% static 'images/icons/search.svg' %}" class="icon">

        <input
            type="text"
            name="q"
            placeholder="Search files..."
            value="{{ request.GET.q }}"
        >

    </form>


    <div class="files-list">

       {% for file in files %}

<div class="file-card">

    <div class="file-left">

        <img src="{% static 'images/icons/folder-heart.svg' %}" class="file-icon">

        <div>

            <h3>{{ file.title }}</h3>

            <p>Uploaded {{ file.uploaded_at }}</p>

        </div>

    </div>

    <div class="file-buttons">

        <a href="{{ file.file.url }}" class="open-btn">
            Open
        </a>

        <a href="#" class="edit-btn">
            Edit
        </a>

        <form method="POST"
                action="{% url 'file_delete' file.id %}"
                style="display:inline;">

            {% csrf_token %}

            <button type="submit" class="delete-btn">
                Delete
            </button>

        </form>

    </div>

</div>

{% empty %}

<p>No files yet.</p>

{% endfor %}

    </div>


</section>


<script>

    // همان جاوااسکریپت قبلی

</script>


{% endblock %}