{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/notes.css' %}">


<section class="notes-page">


    <div class="notes-header">

        <div class="notes-title">

            <h1>{{ course.name }} Notes</h1>

            <p>Manage all your notes in one place.</p>

        </div>


        <a href="{% url 'course_note_create' course.id %}" class="new-note-btn">

            <img src="{% static 'images/icons/plus.svg' %}" class="icon">

            <span>New Note</span>

        </a>

    </div>



   <form method="GET" class="notes-search">

        <img src="{% static 'images/icons/search.svg' %}" class="icon">

        <input
            type="text"
            name="q"
            placeholder="Search notes..."
            value="{{ request.GET.q }}"
        >

    </form>


    <div class="notes-list">

    {% for note in notes %}

    <div class="note-card">

    <div class="note-left">

        <img src="{% static 'images/icons/notepad-text.svg' %}" class="note-icon">

        <div>

            <h3>{{ note.title }}</h3>

            <p>Updated {{ note.updated_at }}</p>

        </div>

    </div>


    <div class="note-buttons">

        <a href="{% url 'note_detail' note.id %}" class="view-btn">
            View
        </a>


        <a href="{% url 'note_update' note.id %}" class="edit-btn">
            Edit
        </a>


        <a href="{% url 'note_delete' note.id %}" class="delete-btn">
            Delete
        </a>

    </div>

</div>
{% empty %}
<p>No notes yet.</p>
{% endfor %}
</div>


</section>


{% endblock %}