{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">


<section class="profile-page">

    <div class="profile-card">

        <div class="profile-avatar">

            {% if user.profile.image %}

                <img src="{{ user.profile.image.url }}" alt="Profile">

            {% elif user.profile.gender == "female" %}

                <div class="emoji-avatar">👩🏻‍🎓</div>

            {% elif user.profile.gender == "male" %}

                <div class="emoji-avatar">👨🏻‍🎓</div>

            {% else %}

                <div class="emoji-avatar">🧑🏻‍🎓</div>

            {% endif %}

        </div>

        <h2>{{ user.get_full_name|default:user.username }}</h2>

        <p class="profile-role">
            {{ user.profile.major }}
        </p>

        <div class="profile-info">

            <div class="info-box">
                <h4>Email</h4>
                <p>{{ user.email }}</p>
            </div>

            <div class="info-box">
                <h4>University</h4>
                <p>{{ user.profile.university|default:"Not set yet" }}</p>
            </div>

            <div class="info-box">
                <h4>Bio</h4>
                <p>
                    {{ user.profile.bio|default:"No bio yet." }}
                </p>
            </div>

        </div>

        <a href="{% url 'edit_profile' %}" class="edit-profile-btn">
            Edit Profile
        </a>
    </div>

</section>

{% endblock %}