{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/files.css' %}">


<section class="upload-file-page">

    <div class="upload-file-header">

        <h1>Upload File</h1>

        <p>Upload a new file for <strong>Programming</strong>.</p>

    </div>


    <form method="POST"
      enctype="multipart/form-data"
      class="upload-file-form">

    {% csrf_token %}


        <div class="input-group">

            <label>File Title</label>

            {{ form.title }}

        </div>



        <div class="input-group">

            <label>Select File</label>


            <div class="upload-box">

                <img 
                src="{% static 'images/icons/arrow-up-from-line.svg' %}" 
                class="upload-icon">


                <h3>Choose a file</h3>

                <p>or drag & drop it here</p>


                {{ form.file }}


            </div>


        </div>



        <button type="submit" class="upload-btn">

            Upload File

        </button>


    </form>


</section>


<script>

    // جاوااسکریپت dropdown قبلی اگر لازم بود

</script>


{% endblock %}