{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/notes.css' %}">

<section class="view-note-page">

    <a href="{% url 'course_notes' note.course.id %}" class="back-btn">
    ← Back to Notes
    </a>

    <div class="view-note-header">

        <div>

            <h1>{{ note.title }}</h1>
            <p>Last updated {{ note.updated_at }}</p>

        </div>

        <div class="note-actions">
            <a href="{% url 'note_update' note.id %}" class="edit-btn">
                Edit
            </a>
            <a href="{% url 'note_delete' note.id %}" class="delete-btn">
                Delete
            </a>
        </div>

    </div>

    <div class="note-content">
    {{ note.content|linebreaks }}
    </div>
</section>

{% endblock %}